 :root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
h1{
  font-size: 36px;
  font-weight: bold;
  padding-bottom: 3px;
  color: red;
}
p{
  font-size: 12px;
}
.flag{
  font-size: 200px;
  max-width: 250px;
  min-width: 100px;
  max-height: 400px;
  min-height: 100px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: 1;
  margin: 0;
}